#server:
#  port: 8082
#
#spring:
#  datasource:
#    url: jdbc:mysql://localhost:3306/payflow_wallet?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
#    username: root
#    password: Vishwa@data123
#
#    hikari:
#      maximum-pool-size: 10
#      minimum-idle: 2
#      idle-timeout: 30000
#      connection-timeout: 20000
#
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#    open-in-view: false
#
#
#logging:
#  level:
#    org.hibernate.SQL: DEBUG
#    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
#    org.springframework.kafka: INFO



server:
  port: 8082

spring:
  profiles:
    active: local

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.springframework.kafka: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,metrics
